#header
{
	position: relative;
	width: 100%;
	height: 10%;
	border: none;
	padding: 0;
}

#header h1
{
	float: left;
	clear: none;
	font-size: xx-large;
	font-style: bolder;
}

#header a
{
	float: right;
	clear: none;
}

#thoughtworks
{
	position: relative;
	visibility: hidden;
	width: 25%;
	height: 90%; 
	border: none;
	padding: 0;
}

#calendar
{
	position: relative;
	visibility: hidden;
	width: 74%;
	height: 89%;
}

FORM {
	margin: 0;
	padding: 0;
}

UL.volunteerList {
	list-style: none;
	margin: 0;
	padding: 0;
}

DIV#datesContainer {
	height: 60;
}

.dateButton {
	margin-top: -2;
	height: 18;
	font-family: Tahoma, Arial;
	font-size: 11;
}

#endDateRow {
	display: none;
}

td.dateLabel {
	font-weight: bold;
	text-align: right;
}